.popup__content {
  background-color: #fff;
  border-radius: 15px;
}

.popup {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}
@media screen and (max-width: 459.8px) {
  .popup {
    padding: 10px;
  }
}