@import "./__content/popup__content.scss";
@import "./__title/popup__title.scss";
@import "./__subtitle/popup__subtitle.scss";
@import "./__close-btn/popup__close-btn.scss";
@import "./__close-icon/popup__close-icon.scss";

.popup {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 15px;
    display: none;
}


