@import "./__button/generalInfo__button.scss";
@import "./__img/generalInfo__img.scss";
@import "./__line/generalInfo__line.scss";
@import "./__subtitle/generalInfo__subtitle.scss";
@import "./__title/generalInfo__title.scss";
@import "./__wrapper-btn/generalInfo__wrapper-btn.scss";
@import "./__wrapper-imgs/generalInfo__wrapper-imgs.scss";
@import "./__wrapper-recall-time/generalInfo__wreapper-recall-time.scss";
@import "./__wrapper-text/generalInfo__wrapper-text.scss";

@media screen and (min-width: 768px) {
  .generalInfo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 60px 0 40px 0;
  }

  .generalInfo {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .generalInfo {
    padding: 120px 0 85px 0;
  }
}
