@import "./_first/generalInfo__line_first.scss";
@import "./_fourth/generalInfo__line_fourth.scss";
@import "./_second/generalInfo__line_second.scss";
@import "./_third/generalInfo__line_third.scss";

.generalInfo__line {
  display: none;
}

@media screen and (min-width: 768px) {

  .generalInfo__line {
    position: absolute;
    display: block;
    content: "_";
    width: 1730px;
    height: 40px;
    opacity: 0.72;
    z-index: 1;
    background: linear-gradient(92deg, #dbe1f1, #f3f5fb);
    filter: blur(9.5px);
  }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1920px) {

}
