.engine__wrapper-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: auto;
}

.engine__wrapper-img::after {
  position: absolute;
  content: "";
  z-index: 0;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  color: $color_circle;
  background-color: $color_circle;
  top: 18%;
  right: -5%;
}
@media screen and (min-width: 380px) {
  .engine__wrapper-img::after {
    width: 226px;
    height: 226px;
  }
}

@media screen and (min-width: 1920px) {
  .engine__wrapper-img {
    transform: translate(0, -83px);
  }

  .engine__wrapper-img::after {
    width: 475px;
    height: 475px;
    top: 15%;
  }
}