.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1841px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}
.engine {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.engine__content {
  border-radius: 15px;
  background-color: #009BFF;
  padding: 50px 19px 92px 19px;
}

.engine__line {
  position: absolute;
  display: block;
  content: "_";
  width: 1730px;
  height: 40px;
  opacity: 0.72;
  background: linear-gradient(92deg, #0196f6, #0096f7);
  filter: blur(9.5px);
  z-index: 1;
}

.engine__line_first {
  transform: translateX(-890px) rotate(78deg);
}

.engine__line_second {
  left: 34%;
  transform: translateX(-890px) rotate(78deg);
}

.engine__line_third {
  left: 73%;
  transform: translateX(-890px) rotate(78deg);
}

.engine__title {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  letter-spacing: -0.6px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 25px 0;
}

.engine__title_color {
  color: rgba(255, 255, 255, 0.8);
}

.engine__list {
  margin: 0;
  padding: 0 0 0 20px;
  max-width: 622px;
  position: relative;
  z-index: 2;
}

.engine__list-item {
  color: #ffffff;
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
}

.engine__list-item:not(:last-child) {
  margin: 0 0 15px 0;
}

.engine__list-item:last-child {
  margin: 0 0 30px 0;
}

.engine__img {
  display: block;
  width: 233px;
  position: relative;
  z-index: 1;
}

.engine__wrapper-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.engine__wrapper-img::after {
  position: absolute;
  content: "";
  z-index: 0;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  top: 20%;
  right: -10%;
}

@media screen and (min-width: 390px) {
  .engine__img {
    width: 284px;
    height: 217px;
  }
  .engine__wrapper-img::after {
    width: 226px;
    height: 226px;
  }
}
@media screen and (min-width: 768px) {
  .engine__content {
    padding: 50px 67px;
  }
  .engine__title {
    line-height: 47px;
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 34px;
  }
  .engine__list-item:last-child {
    margin: 0;
  }
  .engine__wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .engine__line_first {
    left: 0;
  }
  .engine__line_second {
    left: 15%;
  }
  .engine__line_third {
    left: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .engine__line_second {
    left: 11%;
  }
  .engine__line_third {
    left: 23%;
  }
}
@media screen and (min-width: 1440px) {
  .engine__line_first {
    left: 10%;
  }
  .engine__line_second {
    left: 17%;
  }
  .engine__line_third {
    left: 26%;
  }
  .engine__wrapper-content {
    gap: 70px;
  }
  .engine__content {
    padding: 150px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .engine__line_first {
    left: 12%;
  }
  .engine__line_second {
    left: 22%;
  }
  .engine__line_third {
    left: 40%;
  }
  .engine__wrapper-content {
    gap: 194px;
  }
  .engine__title {
    margin: 0 0 40px 0;
  }
  .engine {
    padding: 200px 247px;
  }
  .engine__title {
    font-size: 68px;
  }
}
.generalInfo__button {
  margin: 30px 0 10px 0;
}

.generalInfo__img {
  width: 99%;
}

@media screen and (min-width: 768px) {
  .generalInfo__img {
    display: block;
    width: 350px;
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .generalInfo__img {
    width: 450px;
    top: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .generalInfo__img {
    bottom: -60px;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__img {
    width: 800px;
    bottom: -35px;
  }
}
.generalInfo__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  margin: 0;
  color: #2B2E3E;
}

@media screen and (min-width: 768px) {
  .generalInfo__subtitle {
    font-size: 20px;
    margin: 15px 0 35px 0;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__subtitle {
    font-size: 20px;
    margin: 30px 0 70px 0;
  }
}
.generalInfo__title_color {
  color: #009BFF;
}

.generalInfo__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  margin: 25px 0 15px 0;
  color: #2B2E3E;
}

@media screen and (min-width: 768px) {
  .generalInfo__title {
    font-size: 33px;
    line-height: 45px;
    letter-spacing: -1.36px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-btn {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-imgs {
    position: relative;
  }
}
.generalInfo__wrapper-recall-time {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 18px 10px;
  width: 100%;
  max-width: 415px;
  height: 55px;
  border-radius: 5px;
  border: 1px dashed #BFC9E0;
  font: 400 12px "Gilroy Medium", "Arial", "sans-serif";
}

@media screen and (min-width: 390px) {
  .generalInfo__wrapper-recall-time {
    font: 400 14px "Gilroy Medium", "Arial", "sans-serif";
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-text {
    max-width: 785px;
    width: 54%;
  }
}
.generalInfo__content {
  position: relative;
}

.generalInfo {
  background-image: url("../img/decor.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .generalInfo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 1;
  }
  .generalInfo__content {
    padding: 60px 0 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  .generalInfo__content {
    padding: 80px 0 85px 0;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__content {
    padding: 120px 0 85px 0;
  }
}
.button-call {
  background-color: #D9F0FF;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.button-call__text {
  display: none;
}

@media screen and (min-width: 390px) {
  .button-call {
    padding: 11px;
  }
}
@media screen and (min-width: 768px) {
  .button-call__img {
    display: none;
    padding: 13px 40px;
  }
  .button-call__text {
    font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
    display: inline;
  }
  .button-call {
    color: #ffffff;
    background-color: #009BFF;
  }
  .button-call:hover {
    background-color: rgba(0, 155, 255, 0.2);
    color: #009BFF;
  }
}
@media screen and (min-width: 1024px) {
  .button-call {
    padding: 13px 40px;
  }
}
.button-get-offer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: #009BFF;
  color: #ffffff;
  padding: 18px 70px;
  border: none;
  font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
}

@media screen and (min-width: 390px) {
  .button-get-offer {
    padding: 18px 97px;
  }
}
@media screen and (min-width: 768px) {
  .button-get-offer {
    max-width: 258px;
    padding: 15px;
    margin: 0 15px 0 0;
  }
}
@media screen and (min-width: 1920px) {
  .button-get-offer {
    padding: 15px 40px;
  }
}
.header {
  width: 100%;
}

.header__content {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__phone-number {
  font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 390px) {
  .header__container {
    gap: 15px;
  }
}
.technologies {
  padding: 50px 10px;
  margin: 0 0 10px 0;
}

.technologies__content {
  box-sizing: border-box;
  padding: 50px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 3;
  width: 100%;
}

.technologies__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 0;
}

.technologies__img {
  display: block;
  margin: 0 auto;
}

.technologies__img:not(:last-child) {
  margin: 0 auto 45px auto;
}

.technologies__description {
  box-sizing: border-box;
  width: 197px;
  border-radius: 10px;
  position: absolute;
  font: 500 14px "Gilroy Semibold", "Arial", "sans-serif";
  color: #2B2E3E;
  background-color: #F3F5FB;
  top: 65px;
  left: 15%;
  padding: 15px 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.technologies__wrapper-img {
  position: relative;
}

.technologies__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 15px 0 40px 0;
}

.technologies__title span {
  color: #009BFF;
}

.technologies__arrow-left {
  display: none;
}

@media screen and (min-width: 390px) {
  .technologies__description {
    padding: 20px 25px;
    left: 25%;
  }
}
@media screen and (min-width: 768px) {
  .technologies__description {
    left: 15%;
  }
  .technologies__wrappers-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .technologies__img:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .technologies__arrow-left {
    display: block;
    width: 16px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: -17px;
  }
  .technologies__description {
    top: 0;
    left: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .technologies__wrappers-imgs {
    gap: 100px;
  }
}
.body {
  background-color: #F0F3F9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
