.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1841px;
}

.engine__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-color: #009BFF;
  padding: 104px 20px 92px 13px;
  background-image: url("/blocks/engine/img/engineDecor.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

@media screen and (min-width: 768px) {
  .engine__content {
    padding: 14% 10% 9% 10%;
  }
}
@media screen and (min-width: 1920px) {
  .engine__content {
    padding: 268px 200px 180px 200px;
    border-radius: 60px;
  }
}
.engine__img {
  display: block;
  width: 233px;
  height: 217px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 380px) {
  .engine__img {
    width: 284px;
  }
}
@media screen and (min-width: 768px) {
  .engine__img {
    width: 305px;
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .engine__img {
    width: 447px;
  }
}
@media screen and (min-width: 1920px) {
  .engine__img {
    width: 597px;
  }
}
.engine__list-item {
  color: #ffffff;
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  line-height: 20px;
}

.engine__list-item:not(:last-child) {
  margin: 0 0 15px 0;
}

.engine__list-item:last-child {
  margin: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .engine__list-item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .engine__list-item {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .engine__list-item {
    font-size: 24px;
    line-height: 35px;
  }
  .engine__list-item:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
.engine__list {
  margin: 0;
  padding: 0 0 0 20px;
  max-width: 622px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1920px) {
  .engine__list {
    padding: 0 0 0 10px;
  }
}
.engine__title_color {
  color: rgba(255, 255, 255, 0.8);
}

.engine__title {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  letter-spacing: -0.6px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  left: 50%;
  top: -42px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .engine__title {
    line-height: 47px;
    text-align: left;
    font-size: 34px;
    top: -40px;
  }
}
@media screen and (min-width: 1024px) {
  .engine__title {
    top: -20px;
  }
}
@media screen and (min-width: 1440px) {
  .engine__title {
    margin: 0 0 -50px 0;
    top: -50px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1920px) {
  .engine__title {
    font-size: 68px;
    top: 0;
  }
}
.engine__wrapper-content {
  position: relative;
}

@media screen and (min-width: 768px) {
  .engine__wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .engine__wrapper-content {
    gap: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .engine__wrapper-content {
    gap: 194px;
  }
}
.engine__wrapper-img {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: auto;
}

.engine__wrapper-img::after {
  position: absolute;
  content: "";
  z-index: 0;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  top: 18%;
  right: -5%;
}

@media screen and (min-width: 380px) {
  .engine__wrapper-img::after {
    width: 226px;
    height: 226px;
  }
}
@media screen and (min-width: 1920px) {
  .engine__wrapper-img {
    -webkit-transform: translate(0, -83px);
            transform: translate(0, -83px);
  }
  .engine__wrapper-img::after {
    width: 475px;
    height: 475px;
    top: 15%;
  }
}
.engine {
  position: relative;
  z-index: 3;
  overflow: hidden;
  width: 100%;
}

.generalInfo__button {
  margin: 30px 0 10px 0;
}

.generalInfo__img {
  width: 99%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .generalInfo__img {
    display: block;
    width: 45%;
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .generalInfo__img {
    top: 25px;
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .generalInfo__img {
    bottom: -60px;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__img {
    bottom: -35px;
    width: 800px;
    -webkit-transform: translate(45px, -29px);
            transform: translate(45px, -29px);
  }
}
.generalInfo__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  color: #2B2E3E;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .generalInfo__subtitle {
    font-size: 20px;
    margin: 15px 0 35px 0;
  }
}
@media screen and (min-width: 1300px) {
  .generalInfo__subtitle {
    font-size: 20px;
    margin: 40px 0 75px 0;
  }
}
.generalInfo__title_color {
  color: #009BFF;
}

.generalInfo__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  margin: 35px 0 20px 5px;
  color: #2B2E3E;
  line-height: 30px;
  letter-spacing: -0.6px;
  white-space: normal;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .generalInfo__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.36px;
    margin: 0;
    max-width: 391px;
    white-space: pre;
  }
}
@media screen and (min-width: 1300px) {
  .generalInfo__title {
    font-size: 68px;
    line-height: 65px;
    max-width: 804px;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-imgs {
    position: relative;
  }
}
.generalInfo__wrapper-recall-time {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 18px 10px;
  width: 100%;
  max-width: 415px;
  height: 55px;
  border-radius: 5px;
  border: 1px dashed #BFC9E0;
  font: 400 12px "Gilroy Medium", "Arial", "sans-serif";
}

@media screen and (min-width: 380px) {
  .generalInfo__wrapper-recall-time {
    font: 400 14px "Gilroy Medium", "Arial", "sans-serif";
    padding: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-recall-time {
    padding: 34px 0;
  }
}
@media screen and (min-width: 768px) {
  .generalInfo__wrapper-text {
    max-width: 800px;
    width: 55%;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__wrapper-text {
    -webkit-transform: translate(151px, 0);
            transform: translate(151px, 0);
  }
}
.generalInfo__container {
  margin: 0 auto;
  width: 95%;
  max-width: 1441px;
}

.generalInfo__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generalInfo {
  background-image: url("../img/decor.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 80px 0;
}

@media screen and (min-width: 768px) {
  .generalInfo {
    width: 100%;
    z-index: 1;
    margin: 0;
  }
  .generalInfo__content {
    padding: 60px 0 40px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .generalInfo__content {
    padding: 80px 0 85px 0;
  }
}
@media screen and (min-width: 1920px) {
  .generalInfo__content {
    padding: 145px 0 110px 0;
  }
}
.button-call {
  background-color: #D9F0FF;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  cursor: pointer;
}

.button-call__text {
  display: none;
}

@media screen and (min-width: 380px) {
  .button-call {
    padding: 11px;
  }
}
@media screen and (min-width: 768px) {
  .button-call__img {
    display: none;
    padding: 13px 40px;
  }
  .button-call__text {
    font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
    display: inline;
  }
  .button-call {
    color: #ffffff;
    background-color: #009BFF;
  }
  .button-call:hover {
    background-color: rgba(0, 155, 255, 0.2);
    color: #009BFF;
  }
}
@media screen and (min-width: 1024px) {
  .button-call {
    padding: 13px 40px;
  }
}
@media screen and (min-width: 1920px) {
  .button-call {
    padding: 15px 40px;
  }
}
.button-get-offer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: #009BFF;
  color: #ffffff;
  padding: 18px 60px;
  border: none;
  font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .button-get-offer {
    padding: 18px 95px;
  }
}
@media screen and (min-width: 768px) {
  .button-get-offer {
    max-width: 258px;
    padding: 15px;
    margin: 0 15px 0 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .button-get-offer {
    padding: 15px 40px;
  }
}
.header {
  width: 100%;
  margin: 0 0 15px 0;
}

.header__logo {
  width: 123px;
  height: 15px;
}

.header__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__phone-number {
  font: 700 13px "Gilroy Bold", "Arial", "sans-serif";
  color: #2B2E3E;
  text-decoration: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

@media screen and (min-width: 380px) {
  .header__container {
    gap: 10px;
  }
  .header__content {
    padding: 15px;
  }
  .header__phone-number {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .header__phone-number {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .header__content {
    padding: 20px 10px 15px 25px;
  }
  .header__logo {
    width: 164px;
    height: 20px;
  }
  .header__container {
    gap: 40px;
  }
}
.technologies__arrow-left {
  display: none;
}

@media screen and (min-width: 1440px) {
  .technologies__arrow-left {
    display: block;
    width: 16px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: -17px;
  }
}
@media screen and (min-width: 1920px) {
  .technologies__arrow-left {
    top: 18px;
    left: -16px;
  }
}
.technologies__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 0 28px 0;
  position: relative;
  z-index: 3;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .technologies__content {
    border-radius: 60px;
    padding: 120px 0 135px 0;
  }
}
.technologies__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 197px;
  border-radius: 10px;
  position: absolute;
  font: 500 14px "Gilroy Semibold", "Arial", "sans-serif";
  color: #2B2E3E;
  background-color: #F3F5FB;
  top: 65px;
  left: 15%;
  padding: 15px 20px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 380px) {
  .technologies__description {
    padding: 20px 25px;
    left: 18%;
    top: 15%;
  }
}
@media screen and (min-width: 768px) {
  .technologies__description {
    left: 15%;
  }
}
@media screen and (min-width: 1440px) {
  .technologies__description {
    top: 0;
    left: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .technologies__description {
    top: -5px;
    left: 112%;
    padding: 28px 30px;
    width: 100%;
    max-width: 228px;
  }
}
.technologies__img {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .technologies__img:not(:last-child) {
    margin: 0;
  }
}
.technologies__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 17px auto 40px auto;
  max-width: 269px;
  width: 100%;
  line-height: 20px;
}

@media screen and (min-width: 1440px) {
  .technologies__subtitle {
    font-size: 24px;
    line-height: 30px;
    max-width: none;
    margin: 35px auto 60px auto;
  }
}
.technologies__title_color {
  color: #009BFF;
}

.technologies__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 0;
  line-height: 30px;
  letter-spacing: -0.6px;
}

@media screen and (min-width: 1440px) {
  .technologies__title {
    font-size: 68px;
    line-height: 65px;
    letter-spacing: -1.36px;
    margin: 11px 0 0 0;
  }
}
.technologies__wrapper-img:not(:last-child) {
  margin: 0 auto 45px auto;
}

.technologies__wrapper-img {
  position: relative;
}

@media screen and (min-width: 768px) {
  .technologies__wrappers-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .technologies__wrapper-img:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1920px) {
  .technologies__wrappers-imgs {
    gap: 100px;
  }
}
.technologies {
  margin: 0 0 20px 0;
}

.popup__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  background-color: #fff;
  border-radius: 15px;
  width: 92%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  padding: 25px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .popup__content {
    max-width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .popup__content {
    max-width: 800px;
    padding: 45px 50px 45px 50px;
  }
}
@media screen and (min-width: 1920px) {
  .popup__content {
    max-width: 1061px;
    padding: 55px 60px 65px 60px;
  }
}
.popup__title {
  text-align: center;
  font: 700 26px "Gilroy Bold", "Arial", "sans-serif";
  color: #2B2E3E;
  margin: 0;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .popup__title {
    text-align: left;
    font-size: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .popup__title {
    font-size: 38px;
  }
}
.popup__subtitle {
  text-align: center;
  font: 400 14px "Gilroy Regular", "Arial", "sans-serif";
  color: #2B2E3E;
  margin: 16px 0 25px 0;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .popup__subtitle {
    text-align: left;
    font-size: 16px;
  }
}
.popup__close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.popup__close-icon {
  width: 16px;
  height: 16px;
}

.popup {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  display: none;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #EDF1F8;
  border: none;
  width: 100%;
  height: 55px;
  padding: 17px 20px;
}

.form__input[type=textarea] {
  height: 120px;
}

@media screen and (min-width: 768px) {
  .form__input {
    max-width: 100%;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .form__input[type=textarea] {
    height: 180px;
  }
}
@media screen and (min-width: 1920px) {
  .form__input:not([type=textarea]) {
    width: 300px;
  }
}
.form__link {
  color: rgba(43, 46, 62, 0.45);
}

.form__police {
  font: 500 12px "Gilroy Medium", "Arial", "sans-serif";
  text-align: center;
  color: rgba(43, 46, 62, 0.45);
  margin: 15px 0 0 0;
}

@media screen and (min-width: 768px) {
  .form__police {
    text-align: left;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .form__wrapper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .form__wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__wrapper-input {
  margin: 0 0 10px 0;
}

.body {
  background-color: #F0F3F9;
}

html, .body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}