@import "./variables.scss";

@import "../container/container.scss";
@import "../engine/engine.scss";
@import "../generalInfo/generalInfo.scss";
@import "../button-call/button-call.scss";
@import "../button-get-offer/button-get-offer.scss";
@import "../header/header.scss";
@import "../technologies/technologies.scss";

.body {
  background-color: $color_background;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
