.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1442px;
}

.engine {
  border-radius: 15px;
  background-color: #009BFF;
  padding: 50px 19px 92px 19px;
}

.engine__title {
  color: rgba(255, 255, 255, 0.8);
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  letter-spacing: -0.6px;
  text-align: center;
  margin: 0;
}

.engine__list-item {
  color: #ffffff;
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
}

.engine__list-item:not(:last-child) {
  margin: 0 0 15px 0;
}

.engine__list-item:last-child {
  margin: 0 0 30px 0;
}

.engine__img {
  width: 233px;
  position: relative;
  z-index: 1;
}

.engine__wrapper-img {
  position: relative;
}

.engine__wrapper-img::after {
  position: absolute;
  content: "";
  z-index: 0;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  top: 20%;
  right: 2%;
}

.generalInfo__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  margin: 25px 0 15px 0;
  color: #2B2E3E;
}

.generalInfo__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  margin: 0;
  color: #2B2E3E;
}

.generalInfo__button {
  margin: 30px 0 10px 0;
}

.generalInfo__title span {
  color: #009BFF;
}

.generalInfo__wrapper-recall-time {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 18px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px dashed #BFC9E0;
  font: 400 12px "Gilroy Medium", "Arial", "sans-serif";
}

@media screen and (min-width: 390px) {
  .generalInfo__wrapper-recall-time {
    font: 400 14px "Gilroy Medium", "Arial", "sans-serif";
  }
}
.button-call {
  background-color: rgba(0, 155, 255, 0.1490196078);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media screen and (min-width: 390px) {
  .button-call {
    padding: 11px;
  }
}
.button-get-offer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: #009BFF;
  color: #ffffff;
  padding: 18px 70px;
  border: none;
  font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
}

@media screen and (min-width: 390px) {
  .button-get-offer {
    padding: 18px 97px;
  }
}
.header {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
}

.header__phone-number {
  font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 390px) {
  .header__container {
    gap: 15px;
  }
}
.technologies {
  padding: 50px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 80px 0 10px 0;
}

.technologies__title {
  font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 0;
}

.technologies__img {
  display: block;
  margin: 0 auto;
}

.technologies__img:not(:last-child) {
  margin: 0 auto 45px auto;
}

.technologies__description {
  box-sizing: border-box;
  width: 197px;
  border-radius: 10px;
  position: absolute;
  font: 600 14px "Gilroy Regulat", "Arial", "sans-serif";
  color: #2B2E3E;
  background-color: #F3F5FB;
  top: 65px;
  left: 15%;
  padding: 15px 20px;
}

.technologies__wrapper-img {
  position: relative;
}

.technologies__subtitle {
  font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
  color: #2B2E3E;
  text-align: center;
  margin: 15px 0 40px 0;
}

.technologies__title span {
  color: #009BFF;
}

@media screen and (min-width: 390px) {
  .technologies__description {
    padding: 20px 25px;
    left: 25%;
  }
}
.body {
  background-color: #F0F3F9;
}

/*# sourceMappingURL=styles.css.map */
