.button-get-offer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: $color_button_default;
    color: $color_text_1;
    padding: 18px 60px;
    border: none;
    font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
    cursor: pointer;
}

@media screen and (min-width: 380px) {
    .button-get-offer {
        padding: 18px 97px;
    }
  }

  @media screen and (min-width: 768px) {
    .button-get-offer {
        max-width: 258px;
        padding: 15px;
        margin: 0 15px 0 0;
        font-size: 16px;
    }
  }

    @media screen and (min-width: 1920px) {
    .button-get-offer {
        padding: 15px 40px;
    }
  }