@import "./_color/technologies__title_color.scss";

.technologies__title {
    font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
    color: $color_text_default;
    text-align: center;
    margin: 0;
  }