

.header {
    box-sizing: border-box;
   background-color: $color_text_1;
   width: 100%;
   padding: 5px 15px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   margin: 0 0 35px 0;
}

.header__phone-number {
    font: 700 14px "Gilroy Bold", "Arial", "sans-serif";
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 4px;
}

@media screen and (min-width: 390px) {
  .header__container {
    gap: 15px;
}
}

