.technologies__wrapper-img:not(:last-child) {
  margin: 0 auto 45px auto;
}

.technologies__wrapper-img {
  position: relative;
}

@media screen and (min-width: 768px) {
  .technologies__wrappers-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .technologies__wrapper-img:not(:last-child) {
    margin: 0;
  }
}