.technologies__subtitle {
    font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
    color: $color_text_default;
    text-align: center;
    margin: 17px auto 40px auto ;
    max-width: 269px;
    width: 100%;
    line-height: 20px;
  }

  @media screen and (min-width: 1440px) {
  .technologies__subtitle  {
    font-size: 24px;
    line-height: 30px; 
    max-width: none;
    margin: 35px auto 60px auto ;
  }
}
