.generalInfo__img {
  width: 99%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .generalInfo__img {
    display: block;
    width: 45%;
    height: 250px;
    
  }
}

@media screen and (min-width: 1024px) {
  .generalInfo__img {
    top: 25px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .generalInfo__img {
    bottom: -60px;

  }
}

@media screen and (min-width: 1920px) {
  .generalInfo__img {
    bottom: -35px;
    width: 800px;
    transform: translate(45px, -29px);
  }
}
