.generalInfo__img {
  width: 99%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .generalInfo__img {
    display: block;
    width: 420px;
    height: 286px;
    
  }
}

@media screen and (min-width: 1024px) {
  .generalInfo__img {
    top: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .generalInfo__img {
    bottom: -60px;
    width: 620px;
    height: 420px;    

  }
}

@media screen and (min-width: 1920px) {
  .generalInfo__img {
    width: 800px;
    bottom: -35px;
  }
}
