.popup__title {
    text-align: center;
    font: 700 26px "Gilroy Bold", "Arial", "sans-serif";
    color: $color_text_default;
    margin: 0;
    line-height: 30px;
}

@media screen and (min-width: 768px) {
  .popup__title {
    text-align: left;
    font-size: 30px;
}
}

@media screen and (min-width: 1920px) {
  .popup__title {
    font-size: 38px;
}
}