.engine {
    border-radius: 15px;
    background-color: $color_background_engine;
    padding: 50px 19px 92px 19px;

}

.engine__title {
    color: $color_text_1_transparency;
    font: 700 30px "Gilroy Bold", "Arial", "sans-serif";
    letter-spacing: -0.6px;
    text-align: center;
    margin: 0;
}

.engine__list {

}

.engine__list-item {
    color: $color_text_1;
    font: 500 16px "Gilroy Medium", "Arial", "sans-serif";
}

.engine__list-item:not(:last-child) {
    margin: 0 0 15px 0;
}

.engine__list-item:last-child {
    margin: 0 0 30px 0;
}

.engine__img {
    width: 233px;
    position: relative;
    z-index: 1; 
}

.engine__wrapper-img {
    position: relative;
}

.engine__wrapper-img::after {
    position: absolute;
    content: "";
    z-index: 0; 
    width: 185px;
    height: 185px; 
    border-radius: 50%;
    color: $color_circle;
    background-color:  $color_circle;
    top: 20%;
    right: 2%;
}